.navbarContainer {
    width: 100%;
    background-color: #ededed00;
    border: 1px solid blue;
}

.navbar {
    display: flex;
    margin: 1rem 8vw;
    justify-content: space-between;
}

.navbarItems {
    list-style: none;
    display: flex;
}

.navbarItem {
    margin: 0 2vw;
    border-radius: 3px;
}

.navbarItemActived {
    border-bottom: 4px solid #79a957;
}

.brandContainer {
    margin-top: 1rem;
}